* {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height:70vh;

}

.form {
  font-size: 1rem;
}

.sbt-btn {
  padding: 10px;
  font-size: 1rem;
}

